<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ledercorp - Horário agendado!</title>

    <style>
        a {
            text-decoration: none;
        }
        .container {
            width: 100%;
            height: 100%;
            padding: 10px 0;
        }
        .header {
            width: 100%;
            background-color: rgb(241, 137, 0);
            padding: 10px;
        }
        .header h1,  .header h3 {
            text-align: center;
            color: #fff;
        }
        .content {
            width: 100%;
            padding: 10px 30px;
            align-items: center;
            justify-content: center;
        }
        .content p {
            font-size: 19px;
            margin-left: 20px;
        }

        .linkContainer {
            width: 100%;
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .linkContainer a {
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            color: #fff;
            font-weight: bold;
            background-color: rgb(241, 137, 0);
            text-align: center;
            border-radius: 5px;
        }

        .footer {
            width: 100%;
            background-color: rgb(241, 137, 0);
            padding: 10px 20px;
        }
        .footer p {
            color: #fff;
            font-size: 16px;
            margin-top: -10px;
        }
        .end {
            text-align: center;
            margin: 15px;
            color: #ccc;
        }
        .cont {
            color: rgb(241, 137, 0);
            text-align: center;
            margin: 10px 0;
            font-size: 19px;
            font-weight: bold;
        }
        .span {
            margin: 7px;
        }
    </style>

</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Ledercorp Consultoria & Assessoria</h1>
            <h3>Contato agendado atráves do App</h3>
        </header>
        <main class="content">
            <p>Olá <strong>{{name}}</strong></p>
            <p>Foi agendada uma reunião para <strong>"{{date}} as {{time}}{{timeType}}"</strong>, para tratarmos sobre o contato feito em nosso App.</p>
            
            {{#if isPresential}}

                <p class="cont">Estamos contando com sua presença!</p>

            {{else}}

                <p>Estamos felizes em te atender, basta clicar no link abaixo para ir direto ao Meet:</p>

                <div class="linkContainer">
                    <a href="{{link}}" class="link">Participar do Meet</a>
                </div>

            {{/if}}

            <p>Sinta-se a vontade para acessar o nosso site <a href="https://ledercorp.com/">ledercorp.com</a> e conhecer um pouco mais da nossa empresa!</p>
            <p>Contate-nos através dos canais:</p>
            <ul>
                <li>Instagram: <a href="https://www.instagram.com/ledercorp/">@ledercorp</a></li>
                <li>Facebook: <a href="https://www.facebook.com/ledercorp/">@fb.com/ledercorp</a></li>
                <li>WhatsApp: <a href="https://api.whatsapp.com/send?phone=5564996031749&text=Atendimento%20Direcionado%20do%20*App%20da%20Ledercorp*.">(64) 9 9603-1749</a></li>
            </ul>
        </main>
        <footer class="footer">
            <p><strong>Ledercorp</strong> Consultoria & Assessoria.</p>
            <p>{{address}}</p>
            <p>{{addressWithCep}}, Brasil</p>
        </footer>
        <span class="span">Informamos que o Profissional Especialista com as competência técnicas necessárias para seu atendimento específico poderá estar em atendimento em outra unidade da Ledercorp®️. Você pode continuar e prosseguir com o agendamento sendo atendido por ele por vídeo conferência sem prejuízo da qualidade do atendimento, e ainda acrescentar o desconto equivalente pela modalidade virtual. Caso sua opção já tenha sido a de atendimento presencial, nossa equipe de suporte irá entrar em contato com você previamente para ajustar a forma de atendimento e conceder o desconto equivalente.</span>
        <p class="end">© 2022 Ledercorp Consultoria e Assessoria - Todos os direitos reservados.</p>
    </div>
</body>
</html>